.wrapper{
     display: block;
     overflow: hidden;
     background: #f9f9f9;
     border-radius: 4px;
     max-width: 85%;
     padding: 30px;

}
#Chart{
     max-width: 95%;
     max-height: auto;
     margin: 0 auto 0 auto;
}
#chartHeader{
     margin-bottom: 25px;
     padding-left: 20px;
}
#textHeader{
     display: inline;
}
